body{
	background-color:#cccccc;
}
li
{
	list-style-type:none;
}
.player_one
{
	background-color:white;
	border-radius:3px;
	border:1px solid black;
	padding:20px;
}
.player_two
{
	background-color:white;
}
a{
	text-decoration-line:none;
	color:black;
}
h1,h2
{
	text-align:center;
}